In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\john\anaconda3\envs\nc_shelter_reimbursements\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\john\anaconda3\envs\nc_shelter_reimbursements\lib\site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     - -------------------------------------- 10.2/341.8 kB ? eta -:--:--
     -------------------------------------  337.9/341.8 kB 4.1 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 3.5 MB/s eta 0:00:00
Collecting numpy>=1.20.3 (from pandas)
  Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\john\anaconda3\envs\nc_shelter_reimbursements\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   -- ------------------------------------- 0.6/10.8 MB 11.5 MB/s eta 0:00:01
   --- ------------------------------------ 1.0/10.8 MB 12.3 MB/s eta 0:00:01
   ------ --------------------------------- 1.6/10.8 MB 11.6 MB/s eta 0:00:01
   --------- ------------------------------ 2.4/10.8 MB 13.0 MB/s eta 0:00:01
   ------------ --------------------------- 3.4/10.8 MB 13.5 MB/s eta 0:00:01
   --------------- ------------------------ 4.3/10.8 MB 14.3 MB/s eta 0:00:01
   ------------------- -------------------- 5.2/10.8 MB 15.7 MB/s eta 0:00:01
   ------------------------ --------------- 6.6/10.8 MB 16.8 MB/s eta 0:00:01
   ----------------------------- ---------- 7.9/10.8 MB 18.0 MB/s eta 0:00:01
   --------------------------------- ------ 9.0/10.8 MB 18.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.8 MB 18.9 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.8 MB 20.5 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 18.2 MB/s eta 0:00:00
Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
   ---------------------------------------- 0.0/14.9 MB ? eta -:--:--
   --- ------------------------------------ 1.4/14.9 MB 29.4 MB/s eta 0:00:01
   ------ --------------------------------- 2.5/14.9 MB 26.0 MB/s eta 0:00:01
   ---------- ----------------------------- 3.9/14.9 MB 27.5 MB/s eta 0:00:01
   ------------- -------------------------- 5.2/14.9 MB 30.1 MB/s eta 0:00:01
   ---------------- ----------------------- 6.3/14.9 MB 26.8 MB/s eta 0:00:01
   --------------------- ------------------ 7.9/14.9 MB 28.2 MB/s eta 0:00:01
   ------------------------ --------------- 9.1/14.9 MB 27.6 MB/s eta 0:00:01
   ----------------------------- ---------- 11.0/14.9 MB 29.7 MB/s eta 0:00:01
   -------------------------------- ------- 11.9/14.9 MB 27.3 MB/s eta 0:00:01
   ---------------------------------- ----- 12.7/14.9 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------  14.9/14.9 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  14.9/14.9 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 14.9/14.9 MB 25.2 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 262.6 kB/s eta 0:00:01
     ------------- ----------------------- 92.2/250.0 kB 655.4 kB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.5 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
### Libraries
import pandas as pd
import os

In [6]:
#Desktop
os.chdir("C:/Users/john/Documents/GitHub_Data/VCAP-NC-Shelter-Reimbursement-Project-Data")

In [9]:
NC_shelter_raw = pd.read_excel(open('Shelter&ReimburseReformatted.xlsx', 'rb'),
              sheet_name='Shelter Final')

In [11]:
NC_reimbursements_raw = pd.read_excel(open('Shelter&ReimburseReformatted.xlsx', 'rb'),
                                      sheet_name = 'Reimbursement Final')

In [15]:
NC_shelter_raw.head()

,LIC,Year,County/City,Facility_Name,Operating_Expense,Cost_Per_Animal,Dog_Intake,Dog_Adopted,Dog_Returned,Dog_Euthanized,...,Wyandottes_Returned,Wyandottes_Euthanized,Hog_Intake,Hog_Adopted,Hog_Returned,Hog_Euthanized,Homing Pigeon_Intake,Homing Pigeon_Adopted,Homing Pigeon_Returned,Homing Pigeon_Euthanized
0,23,2022,Alamance,Burlington Animal Services,1667363,283.61,2307,1571,517,153,...,0,0,0,0,0,0,0,0,0,0
1,74,2022,Alexander,Alexander County Animal Services,360673.43,382.88,443,303,81,70,...,0,0,0,0,0,0,0,0,0,0
2,79,2022,Ashe,Ashe County Animal Control,299084,321.25,416,327,75,11,...,0,0,0,0,0,0,0,0,0,0
3,58,2022,Beaufort,Betsy Bailey Nelson Animal Control Fac.,505616,290.08,785,573,110,77,...,0,0,0,0,0,0,0,0,0,0
4,126,2022,Bertie,"Windsor, Town Of",9101.1,1011.23,9,2,7,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
NC_shelter_raw["County/City"].value_counts()

County/City
Pitt           61
Northampton    49
Brunswick      42
Johnston       36
Duplin         35
               ..
Washington      4
Yancey          4
Hoke            3
Cherokee        3
Hyde            2
Name: count, Length: 93, dtype: int64

In [21]:
gk = NC_shelter_raw.groupby('County/City')
gk.get_group('Pitt')

,LIC,Year,County/City,Facility_Name,Operating_Expense,Cost_Per_Animal,Dog_Intake,Dog_Adopted,Dog_Returned,Dog_Euthanized,...,Wyandottes_Returned,Wyandottes_Euthanized,Hog_Intake,Hog_Adopted,Hog_Returned,Hog_Euthanized,Homing Pigeon_Intake,Homing Pigeon_Adopted,Homing Pigeon_Returned,Homing Pigeon_Euthanized
55,131,2022,Pitt,"Ayden, Town Of",567.52,5.91,46,17,26,3,...,0,0,0,0,0,0,0,0,0,0
56,130,2022,Pitt,"Farmville, Town Of",483.48,9.3,42,19,17,4,...,0,0,0,0,0,0,0,0,0,0
57,77,2022,Pitt,Pitt County Animal Shelter,1227623,644.76,1073,463,115,278,...,0,0,0,0,0,0,0,0,0,0
132,131,2021,Pitt,"Ayden, Town Of",2565,30.17,21,4,12,5,...,0,0,0,0,0,0,0,0,0,0
133,130,2021,Pitt,"Farmville, Town Of",275.35,2.99,42,17,15,6,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,133,2010,Pitt,City Of Greenville Animal Shelter,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1271,130,2010,Pitt,"Farmville, Town Of",NoData,NoData,43,2,12,10,...,0,0,0,0,0,0,0,0,0,0
1272,134,2010,Pitt,"Grifton, Town Of",250,13,15,3,2,0,...,0,0,0,0,0,0,0,0,0,0
1273,77,2010,Pitt,Pitt County Animal Shelter,484950,142.97,2177,840,169,1168,...,0,0,0,0,0,0,0,0,0,0
1274,132,2010,Pitt,"Winterville, Town Of",7540.18,198.43,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
NC_reimbursements_raw.head()

,Year,County/City,Tier,Population,Q1_Procedures,Q1_Requested,Q1_Eligible,Q1_Amt_Reimbursed,Q1_Pct_Eligible_Rmb,Q2_Procedures,...,Q3_Pct_Eligible_Rmb,Q4_Procedures,Q4_Requested,Q4_Eligible,Q4_Amt_Reimbursed,Q4_Pct_Eligible_Rmb,Total_Procedures,Total_Requested,Total_Eligible,Total_Amt_Reimbursed
0,2022,Beaufort,2,47490,23,3171.84,3171.84,2030.54,0.64,35,...,0.983,47,5792.16,5792.16,4003.71,0.691,138,17930.71,17930.71,14879.98
1,2022,Bladen,1,34444,43,4586.29,4486.36,4033.36,0.899,50,...,0.691,48,5210,5093.43,2669.87,0.524,184,19719.82,19149.35,13684.27
2,2022,Buncombe,3,267046,112,13522.74,13283.43,1760.49,0.133,81,...,0.183,130,15499.57,15499.57,1968.66,0.127,484,59009.22,58769.91,9263.46
3,2022,Burke,1,91934,73,4119,4090.61,2565.6,0.627,69,...,0.416,125,6735.56,6735.56,2603.13,0.386,342,19498.5,19440.66,9191.39
4,2022,"Burlington, City Of",2,57303,100,10619.69,10619.69,7327.23,0.69,96,...,0.918,79,8737.97,8737.97,5576.14,0.638,348,38858.3,38858.3,31186.34

In [27]:
NC_reimbursements_raw["County/City"].value_counts().index

Index(['Davie', 'Bladen', 'Orange', 'Haywood', 'Randolph', 'Scotland',
       'Robeson', 'Richmond', 'Davidson', 'Tarboro, Town Of', 'Madison',
       'Dare', 'Mcdowell', 'Caldwell', 'Cabarrus', 'Burlington, City Of',
       'Moore', 'Swain', 'Martin', 'Cumberland', 'Chowan', 'Burke', 'Yadkin',
       'Stokes', 'Buncombe', 'Vance', 'Wilson', 'Wilkes', 'Person', 'Caswell',
       'Harnett', 'Durham', 'Henderson', 'Iredell', 'Beaufort', 'Warren',
       'Granville', 'Gaston', 'Guilford', 'Wake', 'Polk', 'Cary, Town Of',
       'Rockingham', 'Montgomery', 'Pitt', 'Brunswick', 'Carteret', 'Chatham',
       'Watauga', 'New Hanover', 'Rutherford', 'Pasquotank', 'Avery',
       'Columbus', 'Pender', 'Hertford', 'Duplin', 'Hoke', 'Currituck',
       'Lenoir', 'Craven', 'Macon'],
      dtype='object', name='County/City')

In [28]:
gr = NC_reimbursements_raw.groupby('County/City')
gr.get_group('Pitt')

,Year,County/City,Tier,Population,Q1_Procedures,Q1_Requested,Q1_Eligible,Q1_Amt_Reimbursed,Q1_Pct_Eligible_Rmb,Q2_Procedures,...,Q3_Pct_Eligible_Rmb,Q4_Procedures,Q4_Requested,Q4_Eligible,Q4_Amt_Reimbursed,Q4_Pct_Eligible_Rmb,Total_Procedures,Total_Requested,Total_Eligible,Total_Amt_Reimbursed
22,2022,Pitt,2,181005,DNA,DNA,DNA,DNA,DNA,DNA,...,DNA,DNA,DNA,DNA,DNA,DNA,DNA,DNA,DNA,DNA
57,2021,Pitt,2,168148,3,255,254.17,59.03,0.232,DNA,...,DNA,DNA,DNA,DNA,DNA,DNA,3,255,254.17,59.03
91,2020,Pitt,1,168148,DNA,DNA,DNA,DNA,DNA,DNA,...,1,3,250,250,51.54,0.206,5,400,400,201.54