In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\john\anaconda3\envs\nc_shelter_reimbursements\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\john\anaconda3\envs\nc_shelter_reimbursements\lib\site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     - -------------------------------------- 10.2/341.8 kB ? eta -:--:--
     -------------------------------------  337.9/341.8 kB 4.1 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 3.5 MB/s eta 0:00:00
Collecting numpy>=1.20.3 (from pandas)
  Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\john\anaconda3\envs\nc_shelter_reimbursements\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   -- ------------------------------------- 0.6/10.8 MB 11.5 MB/s eta 0:00:01
   --- ------------------------------------ 1.0/10.8 MB 12.3 MB/s eta 0:00:01
   ------ --------------------------------- 1.6/10.8 MB 11.6 MB/s eta 0:00:01
   --------- ------------------------------ 2.4/10.8 MB 13.0 MB/s eta 0:00:01
   ------------ --------------------------- 3.4/10.8 MB 13.5 MB/s eta 0:00:01
   --------------- ------------------------ 4.3/10.8 MB 14.3 MB/s eta 0:00:01
   ------------------- -------------------- 5.2/10.8 MB 15.7 MB/s eta 0:00:01
   ------------------------ --------------- 6.6/10.8 MB 16.8 MB/s eta 0:00:01
   ----------------------------- ---------- 7.9/10.8 MB 18.0 MB/s eta 0:00:01
   --------------------------------- ------ 9.0/10.8 MB 18.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.8 MB 18.9 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.8 MB 20.5 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 18.2 MB/s eta 0:00:00
Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
   ---------------------------------------- 0.0/14.9 MB ? eta -:--:--
   --- ------------------------------------ 1.4/14.9 MB 29.4 MB/s eta 0:00:01
   ------ --------------------------------- 2.5/14.9 MB 26.0 MB/s eta 0:00:01
   ---------- ----------------------------- 3.9/14.9 MB 27.5 MB/s eta 0:00:01
   ------------- -------------------------- 5.2/14.9 MB 30.1 MB/s eta 0:00:01
   ---------------- ----------------------- 6.3/14.9 MB 26.8 MB/s eta 0:00:01
   --------------------- ------------------ 7.9/14.9 MB 28.2 MB/s eta 0:00:01
   ------------------------ --------------- 9.1/14.9 MB 27.6 MB/s eta 0:00:01
   ----------------------------- ---------- 11.0/14.9 MB 29.7 MB/s eta 0:00:01
   -------------------------------- ------- 11.9/14.9 MB 27.3 MB/s eta 0:00:01
   ---------------------------------- ----- 12.7/14.9 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------  14.9/14.9 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  14.9/14.9 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 14.9/14.9 MB 25.2 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install datetime

Collecting datetime
  Using cached DateTime-5.4-py3-none-any.whl (52 kB)
Requirement already satisfied: pytz in c:\users\john\anaconda3\lib\site-packages (from datetime) (2021.1)
Requirement already satisfied: zope.interface in c:\users\john\anaconda3\lib\site-packages (from datetime) (5.3.0)
Requirement already satisfied: setuptools in c:\users\john\anaconda3\lib\site-packages (from zope.interface->datetime) (52.0.0.post20210125)
Installing collected packages: datetime
Successfully installed datetime-5.4
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install cpi

Collecting cpi
  Downloading cpi-1.0.22-py2.py3-none-any.whl (31.0 MB)
Requirement already satisfied: python-dateutil in c:\users\john\anaconda3\lib\site-packages (from cpi) (2.8.1)
Requirement already satisfied: pandas in c:\users\john\anaconda3\lib\site-packages (from cpi) (1.3.5)
Requirement already satisfied: requests in c:\users\john\anaconda3\lib\site-packages (from cpi) (2.31.0)
Requirement already satisfied: click in c:\users\john\anaconda3\lib\site-packages (from cpi) (8.1.7)
Requirement already satisfied: colorama in c:\users\john\anaconda3\lib\site-packages (from click->cpi) (0.4.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\john\anaconda3\lib\site-packages (from pandas->cpi) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\john\anaconda3\lib\site-packages (from pandas->cpi) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\john\anaconda3\lib\site-packages (from python-dateutil->cpi) (1.15.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\john\anaconda3\lib\site-packages (from requests->cpi) (1.26.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\john\anaconda3\lib\site-packages (from requests->cpi) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\john\anaconda3\lib\site-packages (from requests->cpi) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\john\anaconda3\lib\site-packages (from requests->cpi) (3.1.0)
Installing collected packages: cpi
Successfully installed cpi-1.0.22
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 262.6 kB/s eta 0:00:01
     ------------- ----------------------- 92.2/250.0 kB 655.4 kB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.5 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
### Libraries
import pandas as pd
import os
from datetime import date
#cpi.update()

In [2]:
#Desktop
#os.chdir("C:/Users/john/Documents/GitHub_Data/VCAP-NC-Shelter-Reimbursement-Project-Data")

#Laptop
os.chdir()

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:/Users/john/Documents/GitHub_Data/VCAP-NC-Shelter-Reimbursement-Project-Data'

In [ ]:
## Mapping Dictionary

species_dict = {"reptile":["alligator",
                           "amphibian",
                           "ball python snake",
                           "bearded dragon",
                           "caiman",
                           "chameleon",
                           "crocodile"],
                "farm_animal":["alpaca",
                               "bovine",
                               "brahma cattle",
                               "caprine",
                               "cattle",
                               "cow"],
                "chicken":["australorp",
                           "araucana",
                           "bantam",
                           "barred rock",
                           "chicken",
                           "cornish"],
                "rabbit":["angora english",
                          "angora giant",
                          "angora satin",
                          "californian",
                          "cottontail"],
                "bird":["avian",
                        "barn owl",
                        "barred owl",
                        "bird",
                        "bird (domestic)",
                        "blackbird",
                        "blue jay",
                        "bluebird",
                        "budgerigar",
                        "budgie",
                        "buzzard",
                        "canary",
                        "catbird",
                        "chickadee",
                        "cockatiel",
                        "cockatoo",
                        "conure",
                        "coot",
                        "cormorant",
                        "crane",
                        "crow"],
                "bat":["bat"],
                "fish":["betta",
                        "crab",
                        "crab/fish"],
                "cat":["cat",
                       "cat hybrid"],
                "rodent":["chinchilla",
                          "chipmunk",
                          "degu"],
                "dog":["dog"]
                }

In [7]:
#functions

def cpi_year_inflate(value, start_year):
    start_year_df = cpi_index[cpi_index["Year"] == start_year]
    current_year_df = cpi_index[cpi_index["Year"] == 2023]
    interest_rate = current_year_df["Nov"].values[0]/start_year_df["Dec"].values[0]
    new_value = round(value*interest_rate, 2)
    
    return(new_value)


def cpi_south_year_inflate(value, start_year):
    start_year_df = cpi_south_index[cpi_south_index["Year"] == start_year]
    current_year_df = cpi_south_index[cpi_south_index["Year"] == 2023]
    interest_rate = current_year_df["Nov"].values[0]/start_year_df["Dec"].values[0]
    new_value = round(value*interest_rate, 2)
    
    return(new_value)

In [8]:
species_table = pd.read_csv("species_table.csv")
reimbursemnets_table = pd.read_csv("reimbursements_table.csv")
expenses_table = pd.read_csv("expenses_table.csv")
cpi_index = pd.read_excel("Jan_1913toNov_2023.xlsx")
cpi_south_index = pd.read_excel("SouthJan_1987toNov_2023.xlsx")

In [13]:
cpi_south_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    58 non-null     int64
 1   Jan     37 non-null     float64
 2   Feb     46 non-null     float64
 3   Mar     48 non-null     float64
 4   Apr     46 non-null     float64
 5   May     37 non-null     float64
 6   Jun     57 non-null     float64
 7   Jul     37 non-null     float64
 8   Aug     46 non-null     float64
 9   Sep     48 non-null     float64
 10  Oct     46 non-null     float64
 11  Nov     37 non-null     float64
 12  Dec     57 non-null     float64
 13  Annual  56 non-null     float64
 14  HALF1   40 non-null     float64
 15  HALF2   39 non-null     float64
dtypes: float64(15), int64(1)
memory usage: 7.4 KB

In [9]:
cpi_year_inflate(200, 2010)

280.18

In [5]:
cpi_south_year_inflate(155.69, 2010)

221.56

In [18]:
inf_adj_operating_expense_list = []
inf_adj_cost_per_animal = []

for val, year in zip(expenses_table["Operating_Expense"], expenses_table["Year"]):
    inf_adj_operating_expense_list.append(cpi_year_inflate(val, year))
    
for val, year in zip(expenses_table["Cost_Per_Animal"], expenses_table["Year"]):
    inf_adj_cost_per_animal.append(cpi_year_inflate(val, year))

In [19]:
south_inf_adj_operating_expense_list = []
south_inf_adj_cost_per_animal = []

for val, year in zip(expenses_table["Operating_Expense"], expenses_table["Year"]):
    south_inf_adj_operating_expense_list.append(cpi_south_year_inflate(val, year))
    
for val, year in zip(expenses_table["Cost_Per_Animal"], expenses_table["Year"]):
    south_inf_adj_cost_per_animal.append(cpi_south_year_inflate(val, year))

In [22]:
expenses_table["Operating_Expense_inf_adj"] = inf_adj_operating_expense_list
expenses_table["Cost_Per_Animal_inf_adj"] = inf_adj_cost_per_animal
expenses_table["Operating_Expense_south_inf_adj"] = south_inf_adj_operating_expense_list
expenses_table["Cost_Per_Animal_south_inf_adj"] = south_inf_adj_cost_per_animal

In [23]:
expenses_table.tail()

,LIC,Year,County/City,Facility_Name,Operating_Expense,Cost_Per_Animal,Operating_Expense_inf_adj,Cost_Per_Animal_inf_adj,Operating_Expense_south_inf_adj,Cost_Per_Animal_south_inf_adj
1299,78.0,2010,Wayne,Wayne Co. Adoption & Education Ctr.,0.00,0.00,0.00,0.00,0.00,0.00
1300,19.0,2010,Wilkes,Wilkes County Animal Services,577908.00,102.67,818910.36,145.49,822418.97,146.11
1301,82.0,2010,Wilson,Wilson County Animal Shelter,10818.54,4626.42,15330.15,6555.76,15395.83,6583.84
1302,46.0,2010,Yadkin,Yadkin County Animal Shelter,27071.40,11.20,38360.86,15.87,38525.22,15.94
1303,53.0,2010,Yancey,Yancey Co. Humane Society,175622.00,155.69,248860.85,220.62,249927.09,221.56

In [24]:
inf_adj_expenses_table = expenses_table
inf_adj_expenses_table.to_csv("inf_adj_expenses_table.csv")

In [77]:
reimbursemnets_table.head()

,Year,County/City,Tier,Population,Q1_Procedures,Q1_Requested,Q1_Eligible,Q1_Amt_Reimbursed,Q1_Pct_Eligible_Rmb,Q2_Procedures,...,Q3_Pct_Eligible_Rmb,Q4_Procedures,Q4_Requested,Q4_Eligible,Q4_Amt_Reimbursed,Q4_Pct_Eligible_Rmb,Total_Procedures,Total_Requested,Total_Eligible,Total_Amt_Reimbursed
0,2022,Beaufort,2,47490,23.0,3171.84,3171.84,2030.54,0.640,35.0,...,0.983,47.0,5792.16,5792.16,4003.71,0.691,138.0,17930.71,17930.71,14879.98
1,2022,Bladen,1,34444,43.0,4586.29,4486.36,4033.36,0.899,50.0,...,0.691,48.0,5210.00,5093.43,2669.87,0.524,184.0,19719.82,19149.35,13684.27
2,2022,Buncombe,3,267046,112.0,13522.74,13283.43,1760.49,0.133,81.0,...,0.183,130.0,15499.57,15499.57,1968.66,0.127,484.0,59009.22,58769.91,9263.46
3,2022,Burke,1,91934,73.0,4119.00,4090.61,2565.60,0.627,69.0,...,0.416,125.0,6735.56,6735.56,2603.13,0.386,342.0,19498.50,19440.66,9191.39
4,2022,"Burlington, City Of",2,57303,100.0,10619.69,10619.69,7327.23,0.690,96.0,...,0.918,79.0,8737.97,8737.97,5576.14,0.638,348.0,38858.30,38858.30,31186.34

In [6]:
expenses_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LIC                1297 non-null   float64
 1   Year               1304 non-null   int64
 2   County/City        1304 non-null   object
 3   Facility_Name      1304 non-null   object
 4   Operating_Expense  1207 non-null   float64
 5   Cost_Per_Animal    1193 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 61.2+ KB

In [15]:
expenses_2010 = expenses_table[expenses_table["Year"] == 2010]

expenses_2010["Operating_Expense"][1179]

711188.27

In [35]:
(299.170/230.280) * 711188.27

923945.6085456836

In [30]:
cpi.inflate(711188, 2010, to=2022)

954492.0760722015

In [9]:
NC_shelter_raw = pd.read_excel(open('Shelter&ReimburseReformatted.xlsx', 'rb'),
              sheet_name='Shelter Final')

In [11]:
NC_reimbursements_raw = pd.read_excel(open('Shelter&ReimburseReformatted.xlsx', 'rb'),
                                      sheet_name = 'Reimbursement Final')

In [15]:
NC_shelter_raw.head()

,LIC,Year,County/City,Facility_Name,Operating_Expense,Cost_Per_Animal,Dog_Intake,Dog_Adopted,Dog_Returned,Dog_Euthanized,...,Wyandottes_Returned,Wyandottes_Euthanized,Hog_Intake,Hog_Adopted,Hog_Returned,Hog_Euthanized,Homing Pigeon_Intake,Homing Pigeon_Adopted,Homing Pigeon_Returned,Homing Pigeon_Euthanized
0,23,2022,Alamance,Burlington Animal Services,1667363,283.61,2307,1571,517,153,...,0,0,0,0,0,0,0,0,0,0
1,74,2022,Alexander,Alexander County Animal Services,360673.43,382.88,443,303,81,70,...,0,0,0,0,0,0,0,0,0,0
2,79,2022,Ashe,Ashe County Animal Control,299084,321.25,416,327,75,11,...,0,0,0,0,0,0,0,0,0,0
3,58,2022,Beaufort,Betsy Bailey Nelson Animal Control Fac.,505616,290.08,785,573,110,77,...,0,0,0,0,0,0,0,0,0,0
4,126,2022,Bertie,"Windsor, Town Of",9101.1,1011.23,9,2,7,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
NC_shelter_raw["County/City"].value_counts()

County/City
Pitt           61
Northampton    49
Brunswick      42
Johnston       36
Duplin         35
               ..
Washington      4
Yancey          4
Hoke            3
Cherokee        3
Hyde            2
Name: count, Length: 93, dtype: int64

In [21]:
gk = NC_shelter_raw.groupby('County/City')
gk.get_group('Pitt')

,LIC,Year,County/City,Facility_Name,Operating_Expense,Cost_Per_Animal,Dog_Intake,Dog_Adopted,Dog_Returned,Dog_Euthanized,...,Wyandottes_Returned,Wyandottes_Euthanized,Hog_Intake,Hog_Adopted,Hog_Returned,Hog_Euthanized,Homing Pigeon_Intake,Homing Pigeon_Adopted,Homing Pigeon_Returned,Homing Pigeon_Euthanized
55,131,2022,Pitt,"Ayden, Town Of",567.52,5.91,46,17,26,3,...,0,0,0,0,0,0,0,0,0,0
56,130,2022,Pitt,"Farmville, Town Of",483.48,9.3,42,19,17,4,...,0,0,0,0,0,0,0,0,0,0
57,77,2022,Pitt,Pitt County Animal Shelter,1227623,644.76,1073,463,115,278,...,0,0,0,0,0,0,0,0,0,0
132,131,2021,Pitt,"Ayden, Town Of",2565,30.17,21,4,12,5,...,0,0,0,0,0,0,0,0,0,0
133,130,2021,Pitt,"Farmville, Town Of",275.35,2.99,42,17,15,6,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,133,2010,Pitt,City Of Greenville Animal Shelter,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1271,130,2010,Pitt,"Farmville, Town Of",NoData,NoData,43,2,12,10,...,0,0,0,0,0,0,0,0,0,0
1272,134,2010,Pitt,"Grifton, Town Of",250,13,15,3,2,0,...,0,0,0,0,0,0,0,0,0,0
1273,77,2010,Pitt,Pitt County Animal Shelter,484950,142.97,2177,840,169,1168,...,0,0,0,0,0,0,0,0,0,0
1274,132,2010,Pitt,"Winterville, Town Of",7540.18,198.43,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
NC_reimbursements_raw.head()

,Year,County/City,Tier,Population,Q1_Procedures,Q1_Requested,Q1_Eligible,Q1_Amt_Reimbursed,Q1_Pct_Eligible_Rmb,Q2_Procedures,...,Q3_Pct_Eligible_Rmb,Q4_Procedures,Q4_Requested,Q4_Eligible,Q4_Amt_Reimbursed,Q4_Pct_Eligible_Rmb,Total_Procedures,Total_Requested,Total_Eligible,Total_Amt_Reimbursed
0,2022,Beaufort,2,47490,23,3171.84,3171.84,2030.54,0.64,35,...,0.983,47,5792.16,5792.16,4003.71,0.691,138,17930.71,17930.71,14879.98
1,2022,Bladen,1,34444,43,4586.29,4486.36,4033.36,0.899,50,...,0.691,48,5210,5093.43,2669.87,0.524,184,19719.82,19149.35,13684.27
2,2022,Buncombe,3,267046,112,13522.74,13283.43,1760.49,0.133,81,...,0.183,130,15499.57,15499.57,1968.66,0.127,484,59009.22,58769.91,9263.46
3,2022,Burke,1,91934,73,4119,4090.61,2565.6,0.627,69,...,0.416,125,6735.56,6735.56,2603.13,0.386,342,19498.5,19440.66,9191.39
4,2022,"Burlington, City Of",2,57303,100,10619.69,10619.69,7327.23,0.69,96,...,0.918,79,8737.97,8737.97,5576.14,0.638,348,38858.3,38858.3,31186.34

In [27]:
NC_reimbursements_raw["County/City"].value_counts().index

Index(['Davie', 'Bladen', 'Orange', 'Haywood', 'Randolph', 'Scotland',
       'Robeson', 'Richmond', 'Davidson', 'Tarboro, Town Of', 'Madison',
       'Dare', 'Mcdowell', 'Caldwell', 'Cabarrus', 'Burlington, City Of',
       'Moore', 'Swain', 'Martin', 'Cumberland', 'Chowan', 'Burke', 'Yadkin',
       'Stokes', 'Buncombe', 'Vance', 'Wilson', 'Wilkes', 'Person', 'Caswell',
       'Harnett', 'Durham', 'Henderson', 'Iredell', 'Beaufort', 'Warren',
       'Granville', 'Gaston', 'Guilford', 'Wake', 'Polk', 'Cary, Town Of',
       'Rockingham', 'Montgomery', 'Pitt', 'Brunswick', 'Carteret', 'Chatham',
       'Watauga', 'New Hanover', 'Rutherford', 'Pasquotank', 'Avery',
       'Columbus', 'Pender', 'Hertford', 'Duplin', 'Hoke', 'Currituck',
       'Lenoir', 'Craven', 'Macon'],
      dtype='object', name='County/City')

In [28]:
gr = NC_reimbursements_raw.groupby('County/City')
gr.get_group('Pitt')

,Year,County/City,Tier,Population,Q1_Procedures,Q1_Requested,Q1_Eligible,Q1_Amt_Reimbursed,Q1_Pct_Eligible_Rmb,Q2_Procedures,...,Q3_Pct_Eligible_Rmb,Q4_Procedures,Q4_Requested,Q4_Eligible,Q4_Amt_Reimbursed,Q4_Pct_Eligible_Rmb,Total_Procedures,Total_Requested,Total_Eligible,Total_Amt_Reimbursed
22,2022,Pitt,2,181005,DNA,DNA,DNA,DNA,DNA,DNA,...,DNA,DNA,DNA,DNA,DNA,DNA,DNA,DNA,DNA,DNA
57,2021,Pitt,2,168148,3,255,254.17,59.03,0.232,DNA,...,DNA,DNA,DNA,DNA,DNA,DNA,3,255,254.17,59.03
91,2020,Pitt,1,168148,DNA,DNA,DNA,DNA,DNA,DNA,...,1,3,250,250,51.54,0.206,5,400,400,201.54